 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'schedule';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
  background: grey;
  @include outer-container;
}


$mobile: new-breakpoint(max-width 500px 12);
$dark-grey: #303030;
$light-grey: #A6AAA6;
$green: #27AE60;
$hover-green: #2ecc71;
$blue: #2980B9;
$hover-blue: #3498db;

.header {
  outline: solid red 1px;
  width: 100%;
  height: 5em;
  background: white;
  @include span-columns(24);



  h1 {
    margin: 0;
    vertical-align: middle;
    outline: solid blue 1px;
    color: black;
    @include span-columns(24);
  }
}


// SHORTCUTS ////////////////////////////////////////////////////////



.clear {
  clear: both;
}

.navigation {
  z-index: 5;
  font-family: 'Monda', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(58,58,58);
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  width: 100%;
  line-height: 50px;
  color: white;


}

.navigation li {
  float: left;
  width: 20%;
  color: white;
}

.navigation li:hover {
  background: #222;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
  width: 17.5%;
  text-align: center;
  z-index: 5;
  color: #fff;
  @include media($mobile) {
    width: 21%;
  }
}

.navigation ul li {
  float: none;
  width: 100%;
  text-align: center;
  z-index: 5;

}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;

-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;

  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);

}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;

}

.dropdowns li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  background: #3A3A3A;
}

.dropdown-btn {
  width: 100%;
  background: #3A3A3A;
  border: 0;
  outline: none;
}

.dropdown-btn:hover {
  background: #222;
}

//////////////////////////////////////////////////////

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 2em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.bio-text {
  width: 75%;
  margin-bottom: 1.5em;
}





.btn {
  cursor: pointer;
  background: $green;
  display: inline-block;
  padding: 0.4em 0.5em;
  color: #fff;
  border-radius: 3px;
  width: 75%;
  height: 2em;
  font-size: 1.4em;
  margin-bottom: 1em;
  outline: none;

}

button {
  outline: none;
}

.btn:hover,
.btn:focus {
  background: $hover-green;
}

.btn:active {
  background: $green;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
  outline: none;
}

.btn-blue {
  background: #2980b9;
}

.btn-blue:hover,
.btn-blue:focus {
  background: $hover-blue;
}

.btn-blue:active {
  background: $blue;
  outline: none;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.login-input {
  width: 75%;
  height: 2.5em;
  margin-bottom: 2em;
}

// HOME PAGE //////////////////////////////////////////////////////////////////


.links-container {
  margin-bottom: 2em;
  @include span-columns(5);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.home-links {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  background: $dark-grey;
  padding-top: 1.4em;
  color: white;
  border-bottom: solid black 2px;
}

.home-links:hover {
  background: $light-grey;
}

.home-links:active {
  background: $light-grey;
}

.links-container button {
  outline: none;
  border: none;
  padding: 0;
}

#map_canvas {
  outline: solid red 1px;
  margin: 0 auto;
}

.home-text {
  @include media($mobile) {
    display: none;
  }
}

.home-text img {
  width: 43%;
}

/////BAND PAGE IMG VENUE PAGE IMG//////////////////////////////////////////////

.band-img {
  height: em(300);
  width: 100%;
  background-size: cover;
  background-position: center;

}

///////EACH VENUE///////////////////////////////////////////////////////////////

.each-venue {
  background: $light-grey;

  div {
    background: $dark-grey;
    width: 96%;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
    color: white;

  }
}

.times {
  font-size: 0.7em;
  display: block;
}


///////ALL BANDS //////////////////////////////////////////////////////////////////

.all-bands-container {
  @include outer-container;
}

.all-bands-container ul li {
  @include span-columns(5);
  @include media($mobile) {
    @include span-columns(12);
  }
}

li {
  text-decoration: none;
//  @include outer-container;
//  @include span-columns(6);
}

.each {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  background: $light-grey;
  padding-top: 1.4em;
  border/* -bottom */: solid $dark-grey 2px;

}

.each:hover {
  background: $dark-grey;
  color: white;
}

.each:active {
  background: $dark-grey;
}

.each a {
  text-decoration: none;
  color: black;
}

.each a:hover {
  color: white;
}

///////////////////////////// USER PROFILE /////////////////////////////////////
.profile-container * {
  margin-bottom: 0.5  em;
}

.profile-each-band {
  list-style: none;
}

//////////////////////////// SCHEDULE //////////////////////////////////////////


.schedule-container {
  outline: solid red 1px;
  overflow: scroll;
  height: em(470);
}


.schedule-times {
  outline: solid blue 1px;
  width: em(2000);
  margin-left: 5em;
//  height: 20%;

}

.schedule-times li {
  outline: solid red 1px;
  display: inline-block;
  float: left;
  width: em(120);
  text-align: left;


}

.schedule {
  height: em(450);
  width: em(2000);

  li {
    outline: solid green 1px;
    display: inline-block;
    overflow: ellipsis;
    float: left;
    height: em(90);



    h5 {
      display: inline-block;
      outline: solid pink 1px;
      float: left;
      width: 6em;
      height: 100%;
    }
  }
}

.venue-list {
  width: 100%;
}

.time-slot {
  //height: 500px;

  li {
    margin-right: em(30);
    width: em(90);
    padding-top: 15px;
  }
}

.is-selected {
  border: 2px solid chartreuse;
  background: yellow;
}
