 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

$dark-grey: #303030;
$light-grey: #A6AAA6;
$green: #27AE60;
$hover-green: #2ecc71;
$blue: #2980B9;
$hover-blue: #3498db;

.header {
  outline: solid red 1px;
  width: 100%;
  height: 5em;


  h1 {
    margin: 0;
    vertical-align: middle;
    outline: solid blue 1px;
  }
}

// SHORTCUTS ////////////////////////////////////////////////////////

.shortcuts {
  background: $dark-grey;

}

.shortcuts div {
  width: 19%;
  height: 3.5em;
  font-size: 0.85em;
  display: inline-block;
  color: $green;
  padding-top: 1em;
}

.shortcuts div:hover {
  background: $hover-green;
  color: black;
  cursor: pointer;
}

.shortcuts div:active {
  background: $hover-green;
  color: black;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 2em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}



body {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
}

.btn {
  cursor: pointer;
  background: $green;
  display: inline-block;
  padding: .5em 0.5em;
  color: #fff;
  border-radius: 3px;
  width: 75%;
  height: 2em;
  font-size: 1.4em;
  margin-bottom: 1em;
  outline: none;

}

button {
  outline: none;
}

.btn:hover,
.btn:focus {
  background: $hover-green;
}

.btn:active {
  background: $green;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
  outline: none;
}

.btn-blue {
  background: #2980b9;
}

.btn-blue:hover,
.btn-blue:focus {
  background: $hover-blue;
}

.btn-blue:active {
  background: $blue;
  outline: none;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.login-input {
  width: 75%;
  height: 2.5em;
  margin-bottom: 2em;
}

// HOME PAGE //////////////////////////////////////////////////////////////////

.home-links {
  outline: solid red 1px;
  width: 95%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
}

.twitter-timeline {

}

#map_canvas {
  outline: solid red 1px;
  margin: 0 auto;
}

/////BAND PAGE IMG VENUE PAGE IMG//////////////////////////////////////////////

.band-img {
  height: 300px;
  width: 480px;
  background-size: cover;
  background-position: center;
}
