 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'schedule';

// Custom Styles
* {
  border-radius: 2px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
  background: grey;
  @include outer-container;
}


$mobile: new-breakpoint(max-width 600px 12);
$bands: new-breakpoint(max-width 1000px 12);
$dark-grey: #303030;
$light-grey: #A6AAA6;
$green: #27AE60;
$hover-green: #2ecc71;
$blue: #2980B9;
$hover-blue: #3498db;

////////////////////////ALL ANCHORS ///////////////////////////////////////////////

a {
  text-decoration: none;
  color: $dark-grey;
  font-weight: 400;
}

a:hover,
a:active {
  color: white;
}

li {
  list-style: none;
}
////////////////////////// SEARCHES ////////////////////////////////////////////////////

/* .searches {
  outline: solid red 1px;
  width: 60%;
  height: 2em;
  margin: 2em;
  background: #CACACC;
  color: \$dark-grey;
} */

.searches {
  display: block;
  border-radius: 3px;
  font-weight: 450;
  background: linear-gradient($dark-grey, transparent);
  border: none;
  border-bottom: 1px solid #CCC;
  color: white;
  box-sizing: border-box;
  font-size: em(18);
  height: 50px;
  //left: 50%;
  //margin: -25px 0 0 -100px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 10px 0 10px 5px;
  position: relative;
  top: 50%;
  width: 80%;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(9);
    @include shift(1.5);
  }

  &:focus {
    outline: none;
  }
}

.searches::-webkit-input-placeholder {
  color: #AAA;
  padding-left: .2em;
}

.searches:focus::-webkit-input-placeholder {
  color: $blue;
}

.searches:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: $blue;
  display: inline-block;
  height: 2px;
  margin: em(67) auto 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
  @include span-columns(9.18);
  @include shift(4.55);

  @include media($bands) {
    @include span-columns(6); //11.76
    @include shift(2.9);
}

  @include media($mobile) {
    @include span-columns(9);
    @include shift(1.46);
    margin-top: em(67);
    width: 73%;
  }
}


///////////////////////////// HEADER ////////////////////////////////////////////
.header {
  width: 100%;
  height: 4.5em;
  background: grey;
  @include span-columns(24);



  h1 {
    margin: 0;
    vertical-align: middle;
    outline: solid blue 1px;
    color: black;
    @include span-columns(24);
  }
}

.header img {
  width: 100%;
  height: 4.5em;

}

// SHORTCUTS ////////////////////////////////////////////////////////



.clear {
  clear: both;
}

.navigation {
  z-index: 5;
  font-family: 'Monda', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(58,58,58);
  border-top: solid 3px #fff;
  width: 100%;
  line-height: 50px;
  color: white;


}

.navigation li {
  float: left;
  width: 20%;
  color: white;
}

.navigation li:hover {
  background: #222;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
  width: 17.5%;
  text-align: center;
  z-index: 5;
  color: #fff;
  @include media($mobile) {
    width: 21%;
  }
}

.navigation ul li {
  float: none;
  width: 100%;
  text-align: center;
  z-index: 5;

}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;

-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;

  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);

}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;

}


//////////////////////////////////////////////////////

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 2em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.bio-text {
  width: 75%;
  margin-bottom: 1.5em;
}

.btn {
  cursor: pointer;
  background: $green;
  display: inline-block;
  padding: 0.4em 0.5em;
  color: #fff;
  border-radius: 3px;
  width: 75%;
  height: 2em;
  font-size: 1.4em;
  margin-bottom: 1em;
  outline: none;

}

button {
  outline: none;
}

.btn:hover,
.btn:focus {
  background: $hover-green;
}

.btn:active {
  background: $green;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
  outline: none;
}

.btn-blue {
  background: #2980b9;
}

.btn-blue:hover,
.btn-blue:focus {
  background: $hover-blue;
}

.btn-blue:active {
  background: $blue;
  outline: none;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.login-input {
  width: 75%;
  height: 2.5em;
  margin-bottom: 2em;
}


// HOME PAGE //////////////////////////////////////////////////////////////////


.links-container {
  margin: 2em 0;
  @include span-columns(5);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.home-links {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  background: $dark-grey;
  padding-top: 1.4em;
  color: white;
  border-bottom: solid black 2px;
}

.home-links:hover {
  background: $light-grey;
}

.home-links:active {
  background: $light-grey;
}

.links-container button {
  outline: none;
  border: none;
  padding: 0;
}

#map_canvas {
  outline: solid red 1px;
  margin: 0 auto;
}

.home-text {
  @include media($mobile) {
    display: none;
  }
}

.home-text img {
  width: 60%;
}

.home-blurb {
  h2 {
    margin: .7em 0;
    font-size: 1.7em;
  }

  p {
    margin: .7em;
    //background: $dark-grey;
  }
}

#slider {
  height: 300px;
  width: 60%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#images {
  width: 300%;
  height:100%;
  margin:0 auto;
  position: absolute;
	animation: slide 16s infinite ease-in-out alternate;
}

#images li {
  float:left;
  width: 33.33%;
  height:100%;
  margin-left:0px;
  list-style:none;

  /* Not Part of Slider */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@keyframes slide {
	  0% { margin-left: 0; }
   28% { margin-left: 0; }
	 33% { margin-left: -100%; }
   61% { margin-left: -100%; }
	 66% { margin-left: -200%; }
   100% { margin-left: -200%; }
}

/////BAND PAGE IMG VENUE PAGE IMG//////////////////////////////////////////////

.band-img {
  margin-top: 1em;
  display: block;
  height: em(300);
  //width: 100%;
  background-size: cover;
  background-position: center;
  border: solid $dark-grey 2px;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

//////////////// ALL VENUES ///////////////////////////////////////////////////////

.all-venues {
  margin: 1em 0;
  @include span-columns(16);
  @include shift(4);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.all-venues li {
  font-size: 1.5em;
}

.legend {
  font-size: 1.3em;
  color: white;
  margin-top: 2em;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
  width: 90%;
  margin: 1em auto;

  }
}

.legend div {
  width: 90%;
  //display: inline-block;
  text-align: left;
  font-size: 1.5em;
  padding: .5em 0;
  margin-bottom: .5em;
  @include media($mobile) {
    @include shift(2);
    padding: .2em 0;
    margin-bottom: .3em;
    font-size: 1.2em;
  }
}
.legend img {
  height: 1.5em;
  padding-left: 3em;
  padding-right: 1em;
  float: left;
}

.legend span {

}

///////EACH VENUE///////////////////////////////////////////////////////////////

.each-venue-container {
  @include outer-container;
}

.each-venue-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-venue {
  background: grey;

  div {
    background: $dark-grey;
    width: 96%;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
    color: white;

    @include media($mobile) {
      @include shift(.2);
    }
  }
}

.each-venue .each {
  margin-top: 1em;
  @include span-columns(36);
  @include shift(-6);
  @include media($bands) {
    margin-top: 0;
  }
  @include media($mobile) {
    margin-top: 0;
  }

}
.times {
  font-size: 0.7em;
  display: block;
}


///////ALL BANDS //////////////////////////////////////////////////////////////////

.band-img-small {
  position: relative;
  margin-top: -1em;
  height: 3.79em;
  width: 3.79em;
  float: left;
  background-size: cover;
  background-position: center;
}

.all-bands-container {
  @include outer-container;

}

.all-bands-container ul {
  margin-top: 5em;
}

.all-bands-container ul li {
  @include span-columns(5);

  @include media($bands) {
    @include span-columns(4);
    @include shift(.15);

  }

  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

li {
  text-decoration: none;
//  @include outer-container;
//  @include span-columns(6);
}

.each {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  background: $light-grey;
  padding-top: 1em;
  border/* -bottom */: solid $dark-grey 2px;

}

.each:hover {
  background: $dark-grey;
  color: white;
}

.each:hover a {
  color: white;
}

.each:active {
  background: $dark-grey;
}

.each a {
  text-decoration: none;
  color: black;
}

.each a:hover {
  color: white;
}

////////////////////////////// EACH BAND //////////////////////////////////////////

.each-band-container {
  @include outer-container;
}

.each-band-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-band-container h2 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 2em;
  color: $dark-grey;
}

.each-band-container h4 {
  margin-top: .5em;
  font-size: 1.3em;
}

.band-bio {
  background: $dark-grey;
  color: white;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .4em;
}

.bandcamp {
  @include shift(1);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

////////////////////////////// BROWSE USERS /////////////////////////////////////

.all-users {
  width: 80%;
  margin: 0 auto;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(9);
    @include shift(1);
  }
}

.all-users li {
  font-size: 1.5em;
  text-align: left;
  border-bottom: solid $dark-grey 1px;
  padding: .5em;

}

.user-img-small {
  height: 3em;
  width: 3em;
  float: left;
  margin: .1em;
  background-size: cover;
  background-position: center;
}

///////////////////////////// USER PROFILE /////////////////////////////////////



.SiteNav-triggerLabel {
  color: $dark-grey;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  padding: em(20);
  text-align: center;
  &:after {
    border-bottom: 1px solid $dark-grey;
    content: '';
    display: block;
    margin-top: 20px;
    position: absolute;
    width: 80%;
    //padding: 0 .5em;
    @include span-columns(13);
    @include shift(-3.2);
    @include media($mobile) {
      @include span-columns(11);
      @include shift(-.5);

    }
  }
}

.SiteNav-trigger {
  position: absolute;
  visibility: hidden;
}

.SiteNav-links{
  font-size: 1.2em;
  font-weight: 300;
  list-style: none;
  max-height: 0;
  margin: 0;
  padding: 0;
  @include transition(max-height .3s ease-in-out);
  overflow: scroll;
  width: 100%;
}

.SiteNav-links li {
  width: 100%;
  //height: 5em;
  padding: 0;
  margin: 0 0 .5em;
  font-size: 1.3em;
}

.SiteNav-links li:nth-child(odd) {
  background: #676767;
  padding: .2em 0;
  margin-left: .21em;
}

.SiteNav-trigger:checked ~ .SiteNav-links{
  max-height: 350px;
  //outline: solid blue 1px;
  width: 100%;
  @include span-columns(24);
  @include shift(0);

}

.bios {
  background: $dark-grey;
  color: white;
  font-weight: 400;
  margin: 1em;
  padding: .4em;
  //@include span-columns(12);
}

.profile-usernames {
  color: $dark-grey;
}

.profile-container {
  @include outer-container;
}

.profile-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.twitter-timeline {
  margin-top: 1em;
}
//////////////////////////// SCHEDULE //////////////////////////////////////////


.schedule-container {
  outline: solid red 1px;
  overflow: scroll;
  height: em(470);
}


.schedule-times {
  outline: solid blue 1px;
  width: em(2000);
  margin-left: 5em;
//  height: 20%;

}

.schedule-times li {
  outline: solid red 1px;
  display: inline-block;
  float: left;
  width: em(120);
  text-align: left;


}

.schedule {
  height: em(450);
  width: em(1640);

  li {
    outline: solid green 1px;
    display: inline-block;
    overflow: ellipsis;
    float: left;
    height: em(90);



    h5 {
      display: inline-block;
      outline: solid pink 1px;
      float: left;
      width: 6em;
      height: 100%;
    }
  }
}

.venue-list {
  width: 100%;
}

.time-slot {

  li {
    margin-right: em(30);
    padding-top: 15px;
  }
}

.is-selected {
  border: 2px solid chartreuse;
  background: yellow;
}
