 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'schedule';

// Custom Styles

/* $dark-grey: #0B437C;
$light-grey: #97AFC7;
$green: #27AE60;
$hover-green: #2ecc71;
$blue: #ED2024;
$hover-blue: #8B0002;
$red: #ED2024;
$dark-red: #8B0002;
$grey: grey;
$background: #FFCE4D;  */

$dark-grey: #303030;
$light-grey: #A6AAA6;
$green: #27AE60;
$hover-green: #2ecc71;
$blue: #2980B9;
$hover-blue: #3498db;
$red: #ED2024;
$dark-red: #8B0002;
$grey: grey;
$background: #DCDCDC;



* {
  border-radius: 2px;
}

body {
  font-family: $helvetica;
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
  background: $background;
  @include outer-container;
}

$tiny: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 600px 12);
$bands: new-breakpoint(max-width 1000px 12);




////////////////////////ALL ANCHORS ///////////////////////////////////////////////

a {
  text-decoration: none;
  color: $dark-grey;
  font-weight: 400;
}

a:hover,
a:active {
  color: white;
}

li {
  list-style: none;
}
////////////////////////// SEARCHES ////////////////////////////////////////////////////



.searches {
  display: block;
  border-radius: 3px;
  font-weight: 450;
  background: linear-gradient($dark-grey, $light-grey);
  border: none;
  border-bottom: 1px solid #CCC;
  color: white;
  box-sizing: border-box;
  font-size: em(18);
  height: 50px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 10px 0 10px 5px;
  position: relative;
  top: 50%;
  width: 80%;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(9);
    @include shift(1.5);
  }

  &:focus {
    outline: none;
    //border: solid red 2px;
  }
}

.searches::-webkit-input-placeholder {
  color: #AAA;
  padding-left: .2em;
}

.searches:focus::-webkit-input-placeholder {
  color: white;
}

.searches:focus+.underline {
  transform: scale(1);
}

/* .underline {
  background-color: black;
  display: inline-block;
  height: 2px;
  margin: em(67) auto 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
  @include span-columns(9.18);
  @include shift(4.55);

  @include media(\$bands) {
    @include span-columns(6); //11.76
    @include shift(2.9);
}

  @include media(\$mobile) {
    @include span-columns(9);
    @include shift(1.46);
    margin-top: em(67);
    width: 73%;
  }
} */


///////////////////////////// HEADER ////////////////////////////////////////////
.header {
  width: 100%;
  height: 6em; //4.5 //6
  background: $background;
  @include span-columns(24);
}

.header img {
  //width: 50%; ///100 //50
  height: 6em; //6 //4.5
  float: left;
  @include span-columns(6);
  @include shift(4);
  @include media($mobile) {
    width: 50%;
    @include shift(0);
  }
}

.header-text {
  display: inline-block;
  //width: 50%;
  height: 90px;
  font-size: 1.8em; //1.4
  padding-top: .6em;
  font-weight: 500;
  @include span-columns(10);
  @include media($mobile) {
    width: 50%;
    font-size: 1.4em;
    @include span-columns(6);
  }
}

.header:hover {
  background: $light-grey;
}

.header:hover .header-text {
  color: $dark-grey;
}

.header:active {
  background: $light-grey;
}

// SHORTCUTS ////////////////////////////////////////////////////////



.clear {
  clear: both;
}

.navigation {
  z-index: 5;
  font-family: 'Monda', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(58,58,58);
  border-top: solid 3px #fff;
  width: 100%;
  line-height: 50px;
  color: white;
}

.nav-sched {
  @include media($tiny) {

  //outline: solid red 1px;
  font-size: .9em;
}
}

.navigation li {
  float: left;
  width: 20%;
  color: white;
}

.navigation li:hover {
  background: #222;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
  width: 17.5%;
  text-align: center;
  z-index: 5;
  color: $grey;
  @include media($mobile) {
    width: 21%;
  }
}

.navigation ul li {
  float: none;
  width: 100%;
  text-align: center;
  z-index: 5;

}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;

  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;

  -webkit-box-shadow:  0 3px 3px 0 rgba(0, 0, 0, .25);
  box-shadow:  0 3px 3px 0 rgba(0, 0, 0, .25);

}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;

}


////////////////////// LOG IN //////////////////////////////////////////////////////

.login-container {
  height: 35em;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;

}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 2em 2em;
  height: 100%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.bio-text {
  width: 75%;
  margin-bottom: 1.5em;
}

@-webkit-keyframes slideIn {
  0% {opacity: 0; left: 200px}
  100% {left: 35px}
}

.errors {
  color: red;
  border: solid 2px red;
  background-color: RGBA(255, 0, 0, .4);
  border-radius: 4px;
  padding: 0 .3em;
  margin-bottom: 1em;
  position: relative;
  width: 80%;
  bottom: 0;
  -webkit-animation: slideIn 1s ease 1;

  li {
    //list-style: square;
    border-bottom: solid 1px RGBA(255, 0, 0, .6);
    padding: .2em 0;
  }
}

.errors li:last-child {
  border-bottom: 0;
}


.email-check {
  display: inline-block;
  margin-bottom: 1.5em;
  margin-top: -1.5em;
  color: #A9A9AE;
  font-weight: 400;
}

.slider input[type=checkbox] {
  visibility: hidden;
}

.slider {
  //float: right;
  width: 62px;
  height: 30px;
  background: $light-grey;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 9.5em;
  left: 12em;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
}

.slider:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 38px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #111;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
}

.slider label {
  display: block;
  width: 22px;
  height: 22px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;

  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slider label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #333;
  left: 6px;
  top: 6px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .9);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .9);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .9);
}

.slider input[type=checkbox]:checked + label {
  left: 34px;
}

.slider input[type=checkbox]:checked + label:after {
  background: $green;
}

.btn {
  cursor: pointer;
  background: $green;
  display: inline-block;
  padding: 0.4em 0.5em;
  color: #fff;
  border-radius: 3px;
  width: 75%;
  height: 2em;
  font-size: 1.4em;
  margin-bottom: 1em;
  outline: none;

}

button {
  outline: none;
}

.btn:hover,
.btn:focus {
  background: $hover-green;
}

.btn:active {
  background: $green;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
  outline: none;
}

.btn-blue {
  background: #2980b9;
}

.btn-blue:hover,
.btn-blue:focus {
  background: $hover-blue;
}

.btn-blue:active {
  background: $blue;
  outline: none;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.login-input {
  width: 75%;
  height: 2.5em;
  margin-bottom: 2em;
}

.signup-img {
  width: 75%;
  height: 250px;
  background: center center;
  background-size: cover;
  margin-bottom: 2em;
}


// HOME PAGE //////////////////////////////////////////////////////////////////


.links-container {
  margin: 2em 0;
  @include span-columns(5);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.home-links {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  background: $dark-grey;
  padding-top: 1.4em;
  color: white;
  border-bottom: solid $light-grey 2px;
}

.home-links:hover {
  background: $light-grey;
}

.home-links:active {
  background: $light-grey;
}

.links-container button {
  outline: none;
  border: none;
  padding: 0;
}

#map_canvas {
  outline: solid red 1px;
  margin: 0 auto;
}

.home-text {
  @include media($mobile) {
    display: none;
  }
}

.home-text img {
  width: 60%;
}

.home-blurb {
  h2 {
    margin: .7em 0;
    font-size: 1.7em;
    //outline: solid red 1px;
    display: inline-block;
    @include shift(1);
    @include span-columns(18);
  }

  p {
    //outline: solid red 1px;
    margin: .7em;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    @include span-columns(18);
    @include shift(2);
    background: $light-grey;
    color: white;
    padding: 1em;
    border-bottom: solid $dark-grey 2px;
  }
}

.home-blurb:nth-child(3) {
  @include shift(6);
}

.home-text .twitter-timeline {
  //outline: solid red 1px;
  @include shift(4.5);
}

#slider {
  height: 300px;
  width: 60%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#images {
  width: 300%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
	animation: slide 16s infinite ease-in-out alternate;
}

#images li {
  float: left;
  width: 33.33%;
  height: 100%;
  margin-left: 0;
  list-style: none;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@keyframes slide {
	  0% { margin-left: 0; }
   28% { margin-left: 0; }
	 33% { margin-left: -100%; }
   61% { margin-left: -100%; }
	 66% { margin-left: -200%; }
   100% { margin-left: -200%; }
}

/////BAND PAGE IMG VENUE PAGE IMG//////////////////////////////////////////////

.band-img {
  margin-top: 1em;
  display: block;
  height: em(300);
  background-size: cover;
  background-position: center;
  border: solid $dark-grey 2px;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

//////////////// ALL VENUES ///////////////////////////////////////////////////////

.all-venues {
  padding: 0;
  margin: 1em 0;
  @include span-columns(16);
  @include shift(4);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.all-venues li {
  font-size: 1.5em;
  padding-top: 1.3em;
}

.all-venues li:active {
  color: white;
}

.legend {
  font-size: 1.3em;
  color: white;
  margin-top: 2em;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
  width: 90%;
  margin: 1em auto;

  }
}

.legend div {
  width: 90%;
  text-align: left;
  font-size: 1.5em;
  padding: .5em 0;
  margin-bottom: .5em;
  @include media($mobile) {
    @include shift(2);
    padding: .2em 0;
    margin-bottom: .3em;
    font-size: 1.2em;
  }
}
.legend img {
  height: 1.5em;
  padding-left: 3em;
  padding-right: 1em;
  float: left;
}



///////EACH VENUE///////////////////////////////////////////////////////////////

.each-venue-container {
  @include outer-container;
}

.each-venue-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-venue {
  background: #DCDCDC;

  div {
    background: $dark-grey;
    width: 96%;
    margin: 1em auto;
    padding: 0.8em;
    text-align: left;
    color: white;
    @include shift(0);
    @include span-columns(24);

    @include media($mobile) {
      @include shift(.2);
    }
  }
}

.each-venue h2 {
  color: $dark-grey;
  font-size: 2em;
}

.each-venue .each {
  //margin-top: 1em;
  padding-top: 1em;
  @include span-columns(48);
  @include shift(-14);
  @include media($bands) {
    margin-top: 0;
  }
  @include media($mobile) {
    margin-top: 0;
    @include span-columns(13);
    @include shift(-1.2);
  }

}
.times {
  font-size: 0.7em;
  display: block;
}


///////ALL BANDS //////////////////////////////////////////////////////////////////

.all-bands-container input {
  margin-right: 400px;
}

.band-img-small {
  position: relative;
  margin-top: -.29em;
  height: 3.79em;
  width: 3.79em;
  float: left;
  background-size: cover;
  background-position: center;
}

.all-bands-container {
  @include outer-container;

}

.all-bands-container ul {
  margin-top: 2em;
  padding: 0;

}

.all-bands-container ul li {
  @include span-columns(5);

  @include media($bands) {
    @include span-columns(4);
    @include shift(.15);

  }

  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

li {
  text-decoration: none;
}

.each {
  width: 100%;
  height: 4em;
  margin: .5em auto;
  font-size: 20px;
  text-decoration: none;
  background: $dark-grey;
  padding-top: .3em;
  border: solid $light-grey 2px;
  color: white;

}

.each:hover {
  background: $light-grey;
  color: $dark-grey;
}

.each:hover a {
  color: white;
}

.each:active {
  background: $dark-grey;
}

.each a {
  text-decoration: none;
  color: white;
}

.each a:hover {
  color: white;
}

////////////////////////////// EACH BAND //////////////////////////////////////////

.each-band-container {
  @include outer-container;
  width: 90%;
  @include media($mobile) {
    width: 100%;
  }
}

.each-band-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-band-container h2 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 3em;
  color: $dark-grey;
  @include media($mobile) {
    font-size: 2em;
  }
}

.each-band-container h4 {
  margin-top: .5em;
  font-size: 2.3em;
  color: $dark-grey;
  @include media($mobile) {
    font-size: 1.5em;
  }
}

.each-band-container .SiteNav-triggerLabel {
  width: 100%;
  border-bottom: solid 2px $dark-grey;
  @include shift(0);
}


.band-bio {
  background: $dark-grey;
  color: white;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .8em;
  text-align: left;
  line-height: 1.4;
}

.bandcamp {
  @include shift(2.1);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-band-container button {
  background: $blue;
  width: 50%;
  margin-top: 1em;
  @include span-columns(12);
  @include shift(6);
  @include media($bands) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.each-band-container button:hover {
  background: $hover-blue;
}

.each-band-container button:active {
  background: $hover-blue;
}

////////////////////////////// BROWSE USERS /////////////////////////////////////

.all-users {
  width: 75%;
  overflow: ellipsis;
  margin: 0 auto;
  padding: 0;
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(9);
    @include shift(1.5);
  }
}

.all-users li {
  font-size: 1.5em;
  text-align: left;
  border-bottom: solid $dark-grey 1px;
  padding: .5em;

}

.user-img-small {
  height: 3em;
  width: 3em;
  float: left;
  margin: .2em;
  background-size: cover;
  background-position: center;

}

///////////////////////////// USER PROFILE /////////////////////////////////////
.typcn {
  display: inline-block;
  float: right;
  text-align: right;
}

.profile-container .SiteNav-triggerLabel {
  width: 100%;
  @include shift(0);
}



.SiteNav-triggerLabel {
  color: $dark-grey;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  padding: em(13);
  margin-bottom: 10px;
  text-align: center;
  border-bottom: solid 2px $dark-grey;
/*   &:after {
  border-bottom: 2px solid \$dark-grey;
  content: '';
  display: block;
  margin-top: 20px;
  position: absolute;
  width: 80%;

  @include span-columns(13);
  @include shift(-3.2);
  @include media(\$mobile) {
    @include span-columns(11);
    @include shift(-.5);

  } */
  //}
}

.SiteNav-triggerLabel:hover {
  background: $light-grey;
}

.SiteNav-trigger {
  position: absolute;
  visibility: hidden;
}

.SiteNav-links{
  font-size: 1.2em;
  font-weight: 300;
  list-style: none;
  max-height: 0;
  margin: 0;
  padding: 0;
  @include transition(max-height .3s ease-in-out);
  overflow: scroll;
  width: 100%;

}

.SiteNav-links li {
  width: 100%;
  padding: 0;
  margin: 0 0 .5em;
  font-size: 1.3em;
}

.SiteNav-links li:nth-child(odd) {
  background: #676767;
  padding: .2em 0;
  margin-left: .21em;
}

.SiteNav-links li:nth-child(even) {
  background: $light-grey;
  padding: .2em 0;
  margin-left: .21em;
}

.SiteNav-trigger:checked ~ .SiteNav-links{
  max-height: 350px;
  width: 100%;
  @include span-columns(24);
  @include shift(0);

}

 .bios-container {
  background: $dark-grey;
  margin-bottom: .5em;
  position: relative;
}

.bios-container span {
  //outline: solid red 1px;
  font-size: 5em;
  font-family: "Palatino Linotype";
  position: relative;
  color: white;
  margin: 0;
  padding: 0 .05em;
  float: left;
  text-align: left;
  width: .5em;
  height: .5em;
}

.bios-container span:last-child {
  float: right;
}

.bios {
  //outline: solid red 1px;
  background: $dark-grey;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: .5em 2em;
  text-align: left;
  line-height: 1.4;
}

.profile-usernames {
  color: $dark-grey;
}

.profile-container {
  @include outer-container;
}

.profile-container * {
  @include span-columns(14);
  @include shift(5);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.profile-email {
  color: $dark-grey;
}

.twitter-timeline {
  margin-top: 1em;
}

.message-board-display {
  height: 250px;
  background: white;
}

.profile-container button {
  background: $blue;
  width: 50%;
  margin-top: 1em;
  @include span-columns(8);
  @include shift(8);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
    height: 2.5em;
  }
}

.profile-container button:hover {
  background: $hover-blue;
}

.profile-container button:active {
  background: $hover-blue;
}

.message-board-container {
  @include span-columns(12);
  @include shift(6);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.message-board-container ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.message-board-container ul li {
  width: 100%;
  padding: 0;
  margin: 0;
}

.each-msg:nth-child(even) {
  background: #E7E7E7;
}

.each-msg .user-img-small {
  width: 4em;
  height: 4em;
  margin: .3em;
}

.each-msg span {
  display: inline-block;
  width: 80%; //78
  text-align: left;
  margin: 0;
  padding: .3em;
  @include media($mobile) {
    width: 78%;
  }
}

.each-msg span:nth-child(2) {
  font-size: 1.5em;
}

.each-msg span:last-child {
  text-align: right;
  color: $light-grey;
}

.message-board-display {
  border: solid $dark-grey 2px;
  overflow: scroll;
  width: 100%;
  padding: 0;
  margin: 0;
}

.messages-head {
  font-size: 2em;
}

.post-field {
  margin-top: 1em;
}

.post-field form {
  width: 100%;
  @include shift(0);
}

.post-field input {
  outline: none;
  //@include span-columns(12);
  width: 100%;
  height: 2em;
  @include shift(0);
  padding: .5em;
}

.post-field input:focus {
  border: solid $blue 2px;
}

.post-field button {
  background: $blue;
  color: white;
  width: 100%;
  height: 3em;
  @include shift(0);
}

//////////////////////////// SCHEDULE //////////////////////////////////////////


.schedule-container {
  overflow: scroll;
  height: em(550);
  background: $light-grey;
  border: solid $dark-grey 3px;

}


.schedule-times {
  width: em(1900);
  margin-left: 5em;
}

.schedule-times li {
  display: inline-block;
  float: left;
  width: em(120);
  text-align: left;
  border-left: solid $dark-grey 2px;
  padding-left: 3px;
}

.schedule {
  height: em(450);
  width: em(1740);
  font-weight: 400;
  margin-left: -10px;

  li {
    outline: solid $dark-grey 2px;
    display: inline-block;
    overflow: ellipsis;
    float: left;
    height: em(90);

    h5 {
      display: inline-block;
      float: left;
      width: 6em;
      height: 100%;
      background: grey;
      color: $dark-grey;
      margin: 0;
      padding-right: 2px;
      padding-top: 5px;
      margin-right: 10px;
      border-right: solid $dark-grey 2px;

    }
  }
}


.venue-list {
  width: 100%;
  margin-bottom: 10px;
}


.time-slot {

  li {
    //margin-right: em(30);
    padding-top: 10px;
    background: #808080;
    z-index: 1;

}
  .is-selected {
    color: white;
    z-index: 2;
    background: $blue;
    //border: solid white 2px;
  }
}

.is-selected:hover {
  opacity: .8;
}
